body{
    overflow-y: hidden;
    min-height: 100vh;
}

.Navbar{
    margin: 1rem 2rem;
    min-width: 90%;
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container{
    margin: 1rem;
    z-index: +1;    
}


.signup{
    background: white;
    color: #0099ff;
}

.login{
    color: white;
}

.buttons-right{
    display: flex;
    flex-direction: row;
}

.waves-svg{
    display: block;
    z-index: -1;
}

.waves-path{
    transform: translateY(-10rem);
    z-index: -1;
}

.wave-container h1{
    font-size: 5rem;
    margin: 7rem 1.25rem 2.5rem 1.25rem;
    margin-left: 5px;
    margin-top: 1rem;
}
.wave-container p{
    font-size: 1.5rem;
    margin: 0 1.25rem 5rem 2rem;
    margin-left: 5px;
}


@keyframes animateWave {
    0% {
      transform: scale(1,0);
    }
    100% {
      transform: scale(1,1);
    }
  }
  .wave-container > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  }